{% extends 'base.html' %} {% block head %}
<title>Sign up page</title>
<style>
    h1 {
        text-align: center;
        font-size: 30px;
        color: lightgreen;
    }
    
    p {
        font-size: 25px;
        color: lightsalmon;
    }
    
    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .bg {
        /* The image used */
        background-image: url("https://wallpaperscraft.ru/image/siniy_goluboy_cvet_fon_more_stena_volna_72426_3840x2160.jpg");
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %} {% block body %}

<div class="bg">

    <h1>Select from below option with which you want to share your case details.<br><br><br><br>
        <a href="http://127.0.0.1:8000/list_lawyer/" class="btn btn-primary btn-lg btn-space" role="button" style="text-align: center">Go with Lawyer</a>
        <a href="http://127.0.0.1:8000/list_police/" class="btn btn-primary btn-lg btn-space" role="button" style="text-align: center">Go With Police</a>
        <!-- <button type="button" class="btn btn-success btn btn-default btn-lg" style="padding-left:20px;padding-right:20px;size:100px">You want to share it with Lawyer</button>
            <button type=" button " class="btn btn-success btn btn-default btn-lg" style="padding-left:20px;padding-right:20px">You want to share it with Police</button> -->{% endblock %}